body{
    background-color: #161b13;
}
.wrapper{
    width: 100vw;

    overflow: hidden;

}
.container{
    width: 500px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
}